Repository qwerty-sc25/qwerty-sc25, pull requests merged in 2025-04, with the labels that each got.

#105 관리자 ebook 등록, 전체 조회, 다운로드
  chaekit-spring/README.md
  chaekit-spring/build.gradle
  chaekit-spring/src/main/java/qwerty/chaekit/controller/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/Member/ebook/Ebook.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/Member/ebook/EbookRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookListResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/upload/EbookDownloadResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/upload/EbookUploadRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/FileUploadConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/S3Config.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/SwaggerConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/exception/GlobalExceptionHandler.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/AdminInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/properties/AwsProperties.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/response/ApiErrorResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/response/ApiSuccessResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/response/advice/ApiResponseWrapperAdvice.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/CustomExceptionHandlingFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/JwtFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/LoginArgumentResolver.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/MemberJoinHelper.java
  chaekit-spring/src/main/resources/application.yml
Labels: server

#108 Add admin page
  client/src/api/admin/useGetBook.ts
  client/src/api/admin/useGetBooks.ts
  client/src/api/admin/useUploadBook.ts
  client/src/api/apiBuilder.ts
  client/src/api/login/useLogout.ts
  client/src/component/AppBar.tsx
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/admin/index.tsx
  client/src/routes/_pathlessLayout/admin/route.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/states/auth.ts
  client/src/types/book.ts
Labels: client

#109 docs: change cors allowed origin
  chaekit-spring/README.md
Labels: documentation

#110 Feat: 모임 생성, 조회, 수정 기능 구현
  chaekit-spring/src/main/java/qwerty/chaekit/controller/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/HighlightController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/MainController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupTag.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupTagRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/ReadingGroup.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/Highlight.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/LoginResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupListResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPutRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/highlight/HighlightPutRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/page/PageResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/swagger/LoginDocsController.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/AdminInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/HighlightService.java
Labels: server

#115 Swagger 문서화 수정, docker-compose 환경 구축
  chaekit-spring/.dockerignore
  chaekit-spring/Dockerfile
  chaekit-spring/README.md
  chaekit-spring/docker-compose.yml
  chaekit-spring/src/main/java/qwerty/chaekit/controller/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/HighlightController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/MainController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/swagger/LoginDocsController.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/response/advice/ApiResponseWrapperAdvice.java
Labels: server

#119 Use swagger as api client
  chaekit-spring/src/main/java/qwerty/chaekit/controller/AdminController.java
  client/api.json
  client/package.json
  client/src/api/admin/useGetBook.ts
  client/src/api/admin/useGetBooks.ts
  client/src/api/admin/useUploadBook.ts
  client/src/api/api.gen.ts
  client/src/api/api.ts
  client/src/api/join/useJoin.ts
  client/src/api/login/useLogin.ts
  client/src/api/login/useLogout.ts
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/login.tsx
  client/src/routes/_pathlessLayout/register.tsx
Labels: client, server

#120 Fix sending auth token
  client/src/api/api.ts
Labels: bug, client

#123 Impl auto login
  client/src/api/login/useAutoLogin.ts
  client/src/api/login/useLogin.ts
  client/src/api/login/useLogout.ts
  client/src/routes/_pathlessLayout/route.tsx
Labels: client

#124 Add logo
  client/index.html
  client/public/logo.png
  client/public/logoTitle.png
  client/src/component/AppBar.tsx
Labels: client

#125 Add group list component
  client/bun.lockb
  client/package.json
  client/src/App.tsx
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/component/groupCreate/GroupEditForm.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/groups/index.tsx
  client/src/routes/_pathlessLayout/index.tsx
Labels: client

#126 Add highlight comment and reaction
  client/src/routes/reader.tsx
  client/src/types/highlight.ts
Labels: client

#127 Json Format 변경: PageResponse<T>로 Wrapping
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/highlight/HighlightController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/admin/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/ActivityMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/discussion/Discussion.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/discussion/DiscussionComment.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/comment/HighlightComment.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/publisher/PublisherProfileRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookListResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupListResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/highlight/HighlightListResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/page/PageResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/HighlightService.java
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/HighlightBrowserModal.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/reader.tsx
Labels: server

#130 Fix deployment
  .github/workflows/destroy-client.yml
  client/cdk/lib/ClientDeploymentStack.ts
Labels: bug, client

#132 [TASK 4-2-1][BE] 모임 활동 CRUD
  .github/workflows/deploy-dev-server.yml
  chaekit-spring/build.gradle
  chaekit-spring/chaekit-dev-task.json
  chaekit-spring/chaekit-prod-task.json
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/ActivityController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/highlight/HighlightController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/admin/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/user/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/Ebook.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/ReadingGroup.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/Activity.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/ActivityMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/ActivityRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/discussion/Discussion.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/discussion/DiscussionComment.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/tag/GroupTag.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/HighlightRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/entity/Highlight.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/entity/comment/HighlightComment.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/entity/reaction/HighlightReaction.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/Member.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/publisher/PublisherProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/user/UserProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/purchase/Purchase.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/activity/ActivityFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/activity/ActivityPatchRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/activity/ActivityPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/activity/ActivityPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/highlight/HighlightFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/highlight/HighlightPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/AdminInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/ActivityService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/highlight/HighlightService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/MemberJoinHelper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/admin/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserService.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/AdminServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/group/ActivityServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/highlight/HighlightServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/util/TestFixtureFactory.java
  chaekit-spring/src/test/resources/application-test.yml
Labels: server

#138 [CHORE] 클라이언트에서 바뀐 API 엔드포인트 사용
  .github/workflows/deploy-client.yml
Labels: client

#141 [CHORE] 클라이언트 배포 시 CF 캐시 무효화 실행
  client/cdk/lib/ClientDeploymentStack.ts
Labels: bug, client

#142 [TASK 4-2-3][FE] 모임 메인 페이지에서 등록된 활동 정보 표시
  client/src/routes/_pathlessLayout/groups/$groupId.tsx
  client/src/types/activity.ts
  client/src/types/groups.ts
Labels: client

#144 [Refactor] jwt 구조 변경 및 @Login 기능 변경
  chaekit-spring/README.md
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/ActivityController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/highlight/HighlightController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/admin/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/user/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/GroupMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/ReadingGroup.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/ActivityMember.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/activity/discussion/DiscussionComment.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/user/UserProfileRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/LoginResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherInfoResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherMemberResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserMemberResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/exception/GlobalExceptionHandler.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/AdminInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/jwt/JwtUtil.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/response/advice/ApiResponseWrapperAdvice.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/JwtFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/model/CustomUserDetails.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/LoginArgumentResolver.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/PublisherToken.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/UserToken.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/service/CustomUserDetailsService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/ActivityService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/highlight/HighlightService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/MemberJoinHelper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/admin/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserService.java
  chaekit-spring/src/main/resources/db/migration/V2__remove_wrong_constraint.sql
  chaekit-spring/src/test/java/qwerty/chaekit/ChaekitApplicationTests.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/AdminServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/group/ActivityServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/highlight/HighlightServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/util/TestFixtureFactory.java
  chaekit-spring/src/test/resources/application-test.yml
Labels: server

#143 [TASK 4-7-2][FE] 토론 목록 및 토론 페이지 UI client
  client/bun.lock
  client/customRoutes.ts
  client/package.json
  client/src/App.tsx
  client/src/component/CommentSection.tsx
  client/src/component/form.tsx
  client/src/routes/_pathlessLayout/about.tsx
  client/src/routes/_pathlessLayout/index.tsx
  client/src/routes/_pathlessLayout/posts/$postID/edit.tsx
  client/src/routes/_pathlessLayout/posts/$postID/index.tsx
  client/src/routes/_pathlessLayout/posts/index.tsx
  client/src/routes/_pathlessLayout/posts/new.tsx
  client/src/types/comment.ts
  client/src/types/post.ts
Labels: client

#153 [FIX] 클라이언트 배포 삭제 수정
  client/cdk/lib/ClientDeploymentStack.ts
Labels: bug, client

#155 [CHORE] API 클라이언트 업데이트
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/register.tsx
  client/src/routes/reader.tsx
Labels: client

#154 [TASK 4-2-2][FE] 모임 활동 관리 UI
  client/bun.lock
  client/package.json
  client/src/App.tsx
  client/src/routes/_pathlessLayout/groups/$groupId.tsx
Labels: client

#157 [CHORE] API 클라이언트 업데이트
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/routes/_pathlessLayout/groups/$groupId.tsx
  client/src/routes/reader.tsx
Labels: client

#158 [TASK 4-5-2][TASK 4-5-4] 모임 가입 신청
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/joinRequests.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/route.tsx
Labels: client

#160 [TASK 2-1-2][FE] 전자책 검색 페이지 구현
  client/src/component/PageNavigation.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
Labels: client

#162 [CHORE] 탑 바에 페이지 이동 버튼들 추가
  client/src/component/AppBar.tsx
Labels: client

#170 [FEAT][BE] 이미지 업로드 및 표시
  chaekit-spring/README.md
  chaekit-spring/chaekit-dev-task.json
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/admin/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/user/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/Ebook.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/ReadingGroup.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/Member.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/publisher/PublisherProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/user/UserProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/upload/EbookPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/upload/EbookPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/GroupPutRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/LoginResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherInfoResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherJoinRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherMemberResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserInfoResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserJoinRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserMemberResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/S3Directory.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/exception/GlobalExceptionHandler.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/properties/AwsProperties.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/JwtFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/model/CustomUserDetails.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/LoginArgumentResolver.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/service/CustomUserDetailsService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/MemberJoinHelper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/admin/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/util/S3Service.java
  chaekit-spring/src/main/resources/application.yml
  chaekit-spring/src/main/resources/db/migration/V5__add_imagekey.sql
  chaekit-spring/src/test/java/qwerty/chaekit/service/AdminServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/ebook/EbookFileServiceTest.java
Labels: server

#173 [CHORE] API 클라이언트 업데이트
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/login.tsx
  client/src/routes/_pathlessLayout/register.tsx
  client/src/states/auth.ts
Labels: client
