Repository qwerty-sc25/qwerty-sc25, pull requests merged in 2025-05, with the labels that each got.

#177 [FIX] form 방식 문서화 문제 수정
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/user/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/upload/EbookPostRequest.java
Labels: server

#179 [TASK][FE] 가입 시 이메일 인증
  client/api.json
  client/src/api/api.gen.ts
  client/src/api/login/useLogin.ts
  client/src/component/AppBar.tsx
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/login.tsx
  client/src/routes/_pathlessLayout/register.tsx
  client/src/states/auth.ts
Labels: client

#180 [FEAT][FE] 그룹, 책 이미지 지원
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/component/groupCreate/GroupEditForm.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
  client/src/types/book.ts
  client/src/types/groups.ts
Labels: client

#183 [TASK 1-1-6][BE] refresh token 인증 방식 도입
  chaekit-spring/README.md
  chaekit-spring/build.gradle
  chaekit-spring/chaekit-dev-task.json
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/TokenController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/admin/AdminController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/user/UserController.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/LoginResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/PublisherJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/UserJoinResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/token/RefreshTokenRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/token/RefreshTokenResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/exception/GlobalExceptionHandler.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/exception/UnauthorizedException.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/jwt/JwtUtil.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/jwt/TokenParsingResult.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/jwt/TokenStatus.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/properties/JwtProperties.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/config/SecurityConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/AccessTokenFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/JwtFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/LoginArgumentResolver.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/UserToken.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/admin/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/token/RefreshTokenService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/resources/application.yml
  chaekit-spring/src/test/resources/application-test.yml
Labels: server

#189 [CHORE] API 클라이언트 업데이트
  client/api.json
  client/src/api/api.gen.ts
Labels: client

#190 [TASK 1-1-8] refresh token 처리
  client/src/api/api.ts
  client/src/api/login/useAutoLogin.ts
  client/src/api/login/useAutoTokenRefresh.ts
  client/src/api/login/useLogout.ts
  client/src/api/login/useRefresh.ts
  client/src/routes/_pathlessLayout/route.tsx
  client/src/routes/reader.tsx
  client/src/states/auth.ts
  client/src/util/getLoggedInUserFromLocalStorage.ts
Labels: client

#192 [CHORE] Update api client
  client/api.json
  client/src/api/api.gen.ts
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/login.tsx
Labels: client

#193 [FIX] 토큰 접두사 수정
  client/src/api/api.ts
Labels: bug, client

#197 [TASK 3-2-2][FE] 메모 공개 범위 UI (공개범위 드롭다운)
  client/src/routes/reader.$bookId.tsx
  client/src/util/loadBook.ts
Labels: client

#198 [TASK 5-1-3][FE] 어드민 출판사 가입 승인 UI 구현
  client/src/routes/_pathlessLayout/admin/publisher.tsx
  client/src/routes/_pathlessLayout/admin/route.tsx
Labels: client

#199 [TASK 3-3-4][FE] 마이페이지에서 작성한 메모 표시
  client/src/component/HighlightBrowserModal.tsx
  client/src/routes/_pathlessLayout/mypage/index.tsx
Labels: client

#200 [FIX] 액세스 토큰 만료시 자동 갱신
  client/src/api/api.ts
  client/src/api/login/useAutoTokenRefresh.ts
  client/src/api/login/useInvalidateQueriesOnAuthChange.ts
  client/src/api/login/useRefresh.ts
  client/src/routes/_pathlessLayout/route.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/states/auth.ts
Labels: bug

#204 [TASK 1-3-1][BE] 알림 API
  chaekit-spring/src/main/java/qwerty/chaekit/controller/notification/NotificationController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/notification/PublisherNotificationController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/notification/entity/Notification.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/notification/entity/NotificationType.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/notification/repository/NotificationJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/notification/NotificationResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/Token.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/DiscussionService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/GroupService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/highlight/comment/CommentService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/admin/AdminService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/notification/NotificationService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/notification/PublisherNotificationService.java
  chaekit-spring/src/main/resources/db/migration/V13__create_notification_table.sql
  chaekit-spring/src/main/resources/db/migration/V14__add_highlight_id_to_notification.sql
  chaekit-spring/src/test/java/qwerty/chaekit/service/AdminServiceTest.java
  chaekit-spring/src/test/java/qwerty/chaekit/service/group/DiscussionServiceTest.java
Labels: server

#206 [FIX] API 클라이언트 FormData 처리 수정
  client/package.json
  client/src/api/api.gen.ts
  client/src/api/api.ts
  client/src/api/login/useLogout.ts
  client/src/api/login/useRefresh.ts
  client/src/component/HighlightBrowserModal.tsx
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/admin/books.tsx
  client/src/routes/_pathlessLayout/admin/publisher.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/joinRequests.tsx
  client/src/routes/_pathlessLayout/login.tsx
  client/src/routes/_pathlessLayout/register.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/util/loadBook.ts
  client/swaggerTemplates/http-client.ejs
  client/swaggerTemplates/http-clients/fetch-http-client.ejs
Labels: bug, client

#205 [TASK 2-2-3][BE] 전자책 결제 기능 구현
  chaekit-spring/build.gradle
  chaekit-spring/docker-compose.yml
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookPurchaseController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/Ebook.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/CreditTransactionRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/CreditWallet.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/payment/CreditPaymentTransaction.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/payment/CreditPaymentTransactionRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/payment/CreditPaymentTransactionType.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/usage/CreditUsageTransaction.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/usage/CreditUsageTransactionRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/usage/CreditUsageTransactionType.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/wallet/CreditWallet.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/credit/wallet/CreditWalletRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/purchase/EbookPurchase.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/purchase/repository/EbookPurchaseJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/purchase/repository/EbookPurchaseRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/purchase/repository/EbookPurchaseRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/publisher/PublisherProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/purchase/Purchase.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookSearchRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/EbookSearchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/credit/CreditTransactionResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/purchase/EbookPurchaseResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/upload/EbookPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/config/SwaggerConfig.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/AdminInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/init/DummyDataInitializer.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/resolver/Login.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookPurchaseService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/credit/CreditService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/util/S3Service.java
  chaekit-spring/src/main/resources/db/migration/V15__add_tables_for_ebook_purchase.sql
  chaekit-spring/src/test/java/qwerty/chaekit/service/ebook/EbookFileServiceTest.java
Labels: server

#209 [FIX] 클로저에 캡쳐된 토큰을 사용하는 문제 수정
  client/src/api/api.ts
  client/src/api/login/useLogin.ts
  client/src/api/login/useLogout.ts
  client/src/api/login/useRefresh.ts
Labels: bug, client

#212 [CHORE] 클라이언트 API 업데이트
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/HighlightBrowserModal.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/reader.$bookId.tsx
Labels: client

#213 [FEAT] 활동 UI 개선
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/_pathlessLayout/groups/$groupId/GroupHeader.tsx
  client/src/component/_pathlessLayout/groups/$groupId/LinkIconButton.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
Labels: client

#216 [CHORE] API 클라이언트 업데이트
  client/api.json
  client/src/api/api.gen.ts
Labels: client

#207 [TASK 4-3-4][FE] 모임지기용 모임원 관리 페이지 UI
  client/src/component/SideNavigatorBar.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/joinRequests.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/member.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/route.tsx
Labels: client

#217 [FEAT][TASK 2-4-2][TASK 2-2-4] 책 관련 UI 개선 및 기능 추가
  client/src/component/AppBar.tsx
  client/src/component/BookList.tsx
  client/src/component/BookSearchInput.tsx
  client/src/component/CreditPurchaseModal.tsx
  client/src/component/LinkButton.tsx
  client/src/component/LinkCardActionArea.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/books/$bookId.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/index.tsx
  client/src/routes/_pathlessLayout/mypage/books.tsx
  client/src/routes/_pathlessLayout/mypage/groups.tsx
  client/src/routes/_pathlessLayout/mypage/route.tsx
  client/src/routes/_pathlessLayout/posts/index.tsx
  client/src/types/activity.ts
Labels: client

#220 [TASK 4-7-2][FE] 토론 목록 및 토론 페이지 UI
  client/Dockerfile
  client/src/component/CommentSection.tsx
  client/src/component/DiscussionForm.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/form.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/$discussionId/edit.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/$discussionId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/new.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/index.tsx
  client/src/routes/_pathlessLayout/index.tsx
  client/src/routes/_pathlessLayout/posts/$postID/edit.tsx
  client/src/routes/_pathlessLayout/posts/$postID/index.tsx
  client/src/routes/_pathlessLayout/posts/index.tsx
  client/src/routes/_pathlessLayout/posts/new.tsx
  client/src/types/comment.ts
  client/src/types/discussion.ts
  client/src/types/post.ts
  client/src/types/review.ts
Labels: client

#219 [TASK 4-3-2][FE] 독서 현황 시각화 UI (Progress bar 등)
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/BookList.tsx
  client/src/component/EmojiReactionButton.tsx
  client/src/component/HighlightCard.tsx
  client/src/component/HighlightCommentCard.tsx
  client/src/component/HighlightCreationModal.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/_pathlessLayout/groups/$groupId/GroupHeader.tsx
  client/src/component/groupCreate/GroupCreateModal.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/books/$bookId.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/index.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/types/book.ts
  client/src/types/highlight.ts
  client/src/util/createReactionMap.ts
  client/src/util/loadBook.ts
  client/src/util/loadLocations.ts
Labels: client

#228 [FEAT] 중간발표대비 UI 폴리싱
  client/src/api/login/useInvalidateQueriesOnAuthChange.ts
  client/src/component/BookList.tsx
  client/src/component/HighlightCard.tsx
  client/src/component/HighlightCreationModal.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/_pathlessLayout/groups/$groupId/GroupHeader.tsx
  client/src/component/groupList.tsx
  client/src/routes/_pathlessLayout/about.tsx
  client/src/routes/_pathlessLayout/admin/route.tsx
  client/src/routes/_pathlessLayout/books/$bookId.tsx
  client/src/routes/_pathlessLayout/books/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/$discussionId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/index.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/manage/route.tsx
  client/src/routes/_pathlessLayout/groups/index.tsx
  client/src/routes/_pathlessLayout/index.tsx
  client/src/routes/_pathlessLayout/login.tsx
  client/src/routes/_pathlessLayout/mypage.tsx
  client/src/routes/_pathlessLayout/mypage/books.tsx
  client/src/routes/_pathlessLayout/mypage/groups.tsx
  client/src/routes/_pathlessLayout/mypage/index.tsx
  client/src/routes/_pathlessLayout/mypage/route.tsx
  client/src/routes/_pathlessLayout/register.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/types/activity.ts
  client/src/types/book.ts
  client/src/types/groups.ts
Labels: client

#229 [HOTFIX] 자잘한 버그 수정
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/ActivityController.java
  chaekit-spring/src/main/java/qwerty/chaekit/mapper/GroupMapper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/ActivityService.java
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/AppBar.tsx
  client/src/component/CreditPurchaseModal.tsx
  client/src/component/HighlightCard.tsx
  client/src/component/HighlightCreationModal.tsx
  client/src/component/HighlightSumarryCard.tsx
  client/src/component/LinkChip.tsx
  client/src/component/NotificationButton.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/routes/_pathlessLayout/books/$bookId.tsx
  client/src/routes/_pathlessLayout/groups/$groupId/activities/$activityId/discussions/$discussionId/index.tsx
  client/src/routes/credits.payment.success.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/types/discussion.ts
  client/src/types/highlight.ts
  client/src/types/notification.ts
  client/src/types/paymentSuccessMessage.ts
Labels: client, server

#232 [FIX] 하이라이트 생성 버튼 임시 수정
  client/src/routes/reader.$bookId.tsx
Labels: bug, client

#233 [CHORE] UI 폴리싱
  client/src/component/BookList.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/component/_pathlessLayout/groups/$groupId/GroupHeader.tsx
  client/src/routes/_pathlessLayout/admin/uploadBook.tsx
  client/src/routes/_pathlessLayout/books/$bookId.tsx
  client/src/types/groups.ts
Labels: client

#241 [FEAT] 모임 후기 리스트
  client/src/component/GroupReviewCard.tsx
  client/src/routes/groups/$groupId/index.tsx
  client/src/types/groupReview.ts
  client/src/types/review.ts
Labels: client

#242 [TASK 4-8-1][BE] 모임 후기 등록 API
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupChatController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/GroupReviewController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/highlight/comment/HighlightCommentController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/highlight/reaction/HighlightReactionController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReview.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReviewRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReviewTag.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReviewTagRelation.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReviewTagRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/notification/entity/NotificationType.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/review/GroupReviewFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/review/GroupReviewPostRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/review/GroupReviewStatsResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/review/TagStatDto.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/member/LoginResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/mapper/GroupReviewMapper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookPolicy.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/group/GroupReviewService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/publisher/PublisherJoinService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/member/user/UserJoinService.java
  chaekit-spring/src/main/resources/db/migration/V24__create_group_review.sql
Labels: server

#244 [TASK][BE] 출판사 전자책 등록 관련 API 작업
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/ebook/EbookRequestController.java
  chaekit-spring/src/main/java/qwerty/chaekit/controller/member/publisher/PublisherController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/Ebook.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/repository/EbookRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/request/EbookRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/request/EbookRequestRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/ebook/request/EbookRequestStatus.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReview.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/group/review/GroupReviewTagRelation.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/Member.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/publisher/PublisherProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/member/user/UserProfile.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/request/EbookRequestFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/request/EbookRequestRejectRequest.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/ebook/upload/EbookPostResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/dto/group/review/GroupReviewFetchResponse.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/enums/ErrorCode.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/jwt/JwtUtil.java
  chaekit-spring/src/main/java/qwerty/chaekit/global/security/filter/login/LoginFilter.java
  chaekit-spring/src/main/java/qwerty/chaekit/mapper/EbookRequestMapper.java
  chaekit-spring/src/main/java/qwerty/chaekit/mapper/GroupReviewMapper.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookFileService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/EbookService.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/util/EntityFinder.java
  chaekit-spring/src/main/resources/db/migration/V25__create_ebook_request.sql
Labels: server

#243 [FEAT] 모임 후기 등록
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/GroupReviewCard.tsx
  client/src/component/HighlightCard.tsx
  client/src/component/HighlightCommentCard.tsx
  client/src/component/HighlightSumarryCard.tsx
  client/src/types/groupReview.ts
Labels: client

#252 [FIX] 자동 로그인 토큰 적용 전 API 호출 문제 수정
  client/src/api/login/autoLogin.ts
  client/src/api/login/useAutoLogin.ts
  client/src/routes/__root.tsx
Labels: bug, client
