Repository qwerty-sc25/qwerty-sc25, pull requests merged in 2025-06, with the labels that each got.

#265 Fix pagination count for activity progress
  chaekit-spring/src/main/java/qwerty/chaekit/service/ebook/ReadingProgressService.java
Labels: codex

#273 Add recent highlights API
  chaekit-spring/src/main/java/qwerty/chaekit/controller/group/ActivityController.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightJpaRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepository.java
  chaekit-spring/src/main/java/qwerty/chaekit/domain/highlight/repository/HighlightRepositoryImpl.java
  chaekit-spring/src/main/java/qwerty/chaekit/service/highlight/HighlightService.java
Labels: codex

#276 [FEAT] 그룹 채팅 추가
  chaekit-spring/src/main/java/qwerty/chaekit/config/WebSocketConfig.java
  client/bun.lock
  client/package.json
  client/src/component/AppBar.tsx
  client/src/component/CreditPurchaseModal.tsx
  client/src/component/GroupChat.tsx
  client/src/component/GroupList.tsx
  client/src/component/NotificationButton.tsx
  client/src/component/_pathlessLayout/groups/$groupId/ActivityCard.tsx
  client/src/routes/groups/$groupId/index.tsx
  client/src/routes/groups/index.tsx
  client/src/routes/index.tsx
  client/src/routes/mypage/index.tsx
  client/src/types/groupMessage.ts
  client/src/utils/useThrottle.ts
Labels: client

#277 [FIX] nginx에서 웹소켓 지원
  chaekit-spring/nginx/default.conf
Labels: bug, client

#282 [FEAT] 하이라이트 브라우저 기능 업그레이드
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/ActivitySelectModal.tsx
  client/src/component/HighlightBrowserModal.tsx
Labels: client

#284 [FEAT] 클라이언트 테스트 추가
  client/bun.lock
  client/cdk/test/cdk.test.ts
  client/package.json
  client/src/test/setup.ts
  client/src/utils/bookUtils.test.ts
  client/src/utils/bookUtils.ts
  client/src/utils/createReactionMap.test.ts
  client/src/utils/createReactionMap.ts
  client/src/utils/getLoggedInUserFromLocalStorage.test.ts
  client/src/utils/getUserColorScheme.ts
  client/src/utils/useThrottle.test.ts
  client/src/utils/useThrottle.ts
  client/vitest.config.ts
Labels: client

#288 [FEAT] 하이라이트 브라우저 기능 업그레이드
  client/api.json
  client/src/api/api.gen.ts
  client/src/component/HighlightBrowserModal.tsx
  client/src/component/LinkListItemButton.tsx
  client/src/routes/reader.$bookId.tsx
  client/src/types/highlight.ts
Labels: client

#289 [FEAT] 리더 페이지에 멤버 읽기 진행률 표시
  client/src/routes/reader.$bookId.tsx
Labels: client

#292 [FEAT] 리더에 비공개 하이라이트 표시
  client/src/component/GroupChat.tsx
  client/src/component/HighlightCard.tsx
  client/src/component/HighlightCreationModal.tsx
  client/src/routes/reader.$bookId.tsx
Labels: client
